<%- model_class = UploadCsv -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:mclist_id) %></th>
      <th><%= model_class.human_attribute_name(:date_added) %></th>
      <th><%= model_class.human_attribute_name(:follow_up) %></th>
      <th><%= model_class.human_attribute_name(:clicked_link_date) %></th>
      <th><%= model_class.human_attribute_name(:pdf_url) %></th>
      <th><%= model_class.human_attribute_name(:message_sent) %></th>
      <th><%= model_class.human_attribute_name(:last_message_name) %></th>
      <th><%= model_class.human_attribute_name(:last_send_date) %></th>
      <th><%= model_class.human_attribute_name(:remove_date) %></th>
      <th><%= model_class.human_attribute_name(:remove_user) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @upload_csvs.each do |upload_csv| %>
      <tr>
        <td><%= link_to upload_csv.id, upload_csv_path(upload_csv) %></td>
        <td><%= upload_csv.mclist_id %></td>
        <td><%= upload_csv.date_added %></td>
        <td><%= upload_csv.follow_up %></td>
        <td><%= upload_csv.clicked_link_date %></td>
        <td><%= upload_csv.pdf_url %></td>
        <td><%= upload_csv.message_sent %></td>
        <td><%= upload_csv.last_message_name %></td>
        <td><%= upload_csv.last_send_date %></td>
        <td><%= upload_csv.remove_date %></td>
        <td><%= upload_csv.remove_user %></td>
        <td><%=l upload_csv.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_upload_csv_path(upload_csv), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      upload_csv_path(upload_csv),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_upload_csv_path,
            :class => 'btn btn-primary' %>
