
<%= link_to "Evergreen", root_path, :class => 'brand' %>
<ul class="nav">

  <% if user_signed_in? && current_user.user_type=="admin" %>
      <li>
        <%= link_to 'Suppliers', show_suppliers_users_path %>
      </li>
      <li>
        <%= link_to 'Members', show_members_users_path %>
      </li>

  <% end %>
  <% if user_signed_in? %>
      <li>
        
      </li>
  <% end %>
  <% if user_signed_in? %>
      <% if current_user.user_type=="admin" %>
      <li class="offset3">
      <% else %>
          <li class="offset6">
        <% end %>
    <%= link_to 'Logout', destroy_user_session_path , method: :delete %>
    </li>
  <% else %>
    <li  class="offset7">
    <%= link_to 'Login', new_user_session_path, :class=>"pull-right" %>
    </li>
  <% end %>
  <% if user_signed_in? %>
    <li>
    <%= link_to 'Edit account', edit_user_registration_path, :class=>"pull-right" %>
    </li>
  <% end %>
  <%# if user_signed_in? && current_user.user_type=="admin" %>
      <!--<li>-->
        <%#= link_to 'Sign up', new_user_registration_path %>
      <!--</li>-->
  <%# end %>

</ul>



<%# if current_user.has_role? :admin %>
    <!--<li>-->
      <%#= link_to 'Admin', users_path %>
    <!--</li>-->
<%# end %>
